[submodule "gpu"]
	path = gpu
	url = https://gitlab.com/baylibre/amlogic/atv/amlogic-android-libmali.git
[submodule "gralloc"]
	path = gralloc
	url = https://gitlab.com/baylibre/amlogic/atv/arm-mali-gralloc.git
