import init.yukawa.usb.rc

on early-init
    # mount debugfs
    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=755

on init
    write /proc/sys/vm/page-cluster 0

    # boot time fs tuning
    write /sys/block/mmcblk1/queue/iostats 0
    write /sys/block/mmcblk1/queue/scheduler bfq
    write /sys/block/mmcblk1/queue/iosched/slice_idle 0
    write /sys/block/mmcblk1/queue/nr_requests 256

on early-fs
    start vold

on fs
    mount_all --early

on late-fs
    exec_start wait_for_keymaster
    mount_all --late
    swapon_all


on zygote-start
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

service bugreport /system/bin/dumpstate -d -p -z
    class main
    user root
    disabled
    oneshot
